[submodule "3rdparty/dlib"]
	path = 3rdparty/dlib
	url = https://github.com/davisking/dlib.git
[submodule "3rdparty/xgboost"]
	path = 3rdparty/xgboost
	url = https://github.com/dmlc/xgboost.git
[submodule "3rdparty/tiny-cnn"]
	path = 3rdparty/tiny-cnn
	url = https://github.com/nyanp/tiny-cnn.git
